/*tablets*/

@media(max-width:992px) {
    .container-boton{
        flex-direction: column;
        align-items:flex-start;
        gap: 100px;
    }

    .card-icon{
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .precio{
        font-size: 15px;
        flex-direction: column;
        gap: 1px;
    }

    .precio h2{
        font-size:60px;
    }

    .precio h3{
        font-size: 40px;
    }
}

@media(max-width:576px){
    .container-boton{
        flex-direction: column;
        align-items: flex-start;
        gap: 100px;
    }

    .card-icon{
        flex-direction: column;
    }
}